:root {
  --index: calc(1vw + 1vh);
  --gap: 0.5em;
  --color-light: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'kamerik';
  src: url('./assets/font/kamerik205-heavy.woff2');
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'kamerik', sans-serif;
  overflow: hidden;
  height: 100vh;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: calc(var(--index) * 3);
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

